<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<!--    <link th:href="@{/style.css}" rel="stylesheet">-->
<!--    <link th:href="@{/jquery.js}" rel="stylesheet">-->
<!--    <link th:href="@{/script.js}" rel="stylesheet">-->
</head>
<body>
<div class="container">
<div class ="row">
    <div class ="col-md-4 col-md-offset-4">
    <h2>Update Task Form</h2>

    <div class = "panel panel-default">
        <div class = "panel-heading">
            <a th:href="@{/}" class = "btn btn-primary btn-sm"> Return Home</a>
        </div>
        <div class = "panel-body">
    <form action="#" th:action="@{/saveTask}" th:object="${tasks}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <div class ="form-group">
            <label class = "control-label">Title</label>
            <div class = "controls">
                <input type = "text" th:field="*{title}" placeholder="" class="form-control" required>
            </div>
        </div>

        <div class ="form-group">
            <label class = "control-label">Description</label>
            <div class = "controls">
                 <textarea th:field="*{description}" class = "form-control" required ></textarea>
            </div>
        </div>

        <div class ="form-group">
            <label class = "control-label">Completed</label>
            <div class = "controls">
                <select th:field = "*{completed}" class = "form-control" required>
                    <option value ="Completed" class = "form-control">Done</option>
                    <option value = "Not Completed" class = "form-control">Not Completed</option>
                </select>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-info col-2 pull-right"> Update Task</button>
        </div>
    </form>
        </div>
    </div>
    </div>
</div>
</div>
</body>
</html>